@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

/* Global Styles */
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
}

nav,
main,
section {
  max-width: 1142px;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 42px 30px;
  margin: 0 auto;
}

p,
a {
  font-size: 1em;
  font-weight: 400;
  line-height: 26px;
  color: #6c6c6c;
}

h1 {
  font-size: 4em;
  color: #ffffff;
  line-height: 80px;
  margin-top: 0;
}

h2 {
  font-size: 3em;
  font-weight: 700;
  line-height: 60px;
  color: #0a0826;
  margin: 60px 0 0;
}

h3 {
  font-size: 1.75em;
  font-weight: 700;
  line-height: 40px;
  color: #18191f;
  margin: 0;
}

h4 {
  font-size: 1.125em;
  font-weight: 400;
  line-height: 24px;
  color: #000000;
}

a {
  color: #ffffff;
  text-decoration: none;
}

.link-button {
  background-color: #e02c6d;
  padding: 10px 24px;
}

img {
  transform: scale(1);
  transition: transform 1s ease;
}

img:hover {
  transform: scale(1.1);
  transition: transform 1s ease;
}

/* Navigation Menu */
header {
  background-color: #2d25a0;
}

ul {
  display: flex;
}

ul > li {
  list-style-type: none;
}

.hamburger-menu {
  display: none;
}

ul,
.nav-items {
  padding: 0;
}

.nav-menu a {
  padding-right: 36px;
}

.nav-menu a:hover {
  color: #c4c4c4;
}

.fa-arrow-right-to-bracket {
  color: #ffffff;
  padding-right: 8px;
}

/* Main Banner */
.banner {
  padding-bottom: 44px;
}

.fa-arrow-right {
  color: #ffffff;
  padding-left: 8px;
}

.banner img {
  width: 556px;
  height: 438px;
}

/* All Players Section */
.all-players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.player-box {
  padding: 15px;
  margin: 15px;
  width: 330px;
  height: 474px;
  background: #ffffff;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}

.all-players img {
  width: 100%;
  height: auto;
}

/* Highlights Section */
.highlights {
  display: flex;
  justify-content: space-between;
  padding-top: 80px;
}

.highlights-text p {
  line-height: 28px;
  padding-bottom: 24px;
}

.hightlights-image img {
  width: 567px;
  height: 427px;
  padding: 16px;
}

/* Footer */
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}

footer img {
  width: 400px;
  transform: none;
  transition: none;
}

footer img:hover {
  transform: none;
  transition: none;
}

.social-links img {
  width: 32px;
  height: 32px;
  padding: 20px 7px 0;
}

.copy {
  padding-bottom: 60px;
  margin: 0;
}

/* Media Query */

/* Extra small devices (phones, 767px and down) */
@media only screen and (max-width: 767px) {
  /* Responsive Navigation Menu */
  header {
    padding-top: 0;
  }

  nav {
    width: auto;
    height: auto;
    justify-content: space-between;
    padding: 33px 21px 46px 16px;
    margin: 0;
  }

  .nav-items {
    display: none;
  }

  .hamburger-menu {
    display: block;
    font-size: 1.5em;
  }

  /* Responsive Main Banner */
  main {
    width: auto;
    height: auto;
    flex-direction: column;
    padding: 16px;
  }

  h1 {
    font-size: 2.25em;
    line-height: 50px;
  }

  .banner img {
    width: 100%;
    height: auto;
    padding-top: 50px;
  }

  /* Responsive All Players */
  .all-players {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 15px;
    margin: 0;
  }
  /* Responsive Highlights */
  .highlights {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
  }

  .highlights-text {
    padding: 16px;
  }

  .highlights-text h2 {
    font-size: 1.875em;
    line-height: 40px;
    margin: 0;
  }

  .hightlights-image img {
    width: 90%;
    height: auto;
  }

  /* Responsive Footer */
  footer {
    margin-top: 0px;
  }

  footer img {
    width: 225px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* Responsive Navigation Menu */
  nav {
    width: auto;
    height: auto;
    justify-content: space-between;
    padding: 33px 100px 46px 100px;
    margin: 0;
  }

  .nav-items {
    display: none;
  }

  .hamburger-menu {
    display: block;
    font-size: 1.5em;
  }

  /* Responsive Main Banner */
  main {
    width: auto;
    height: auto;
    flex-direction: column;
    padding: 16px;
  }

  h1 {
    font-size: 3em;
    line-height: 80px;
  }

  .banner img {
    width: 100%;
    height: auto;
    padding-top: 50px;
  }

  /* Responsive All Players */
  .all-players {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin: 0 auto;
  }
  /* Responsive Highlights */
  .highlights {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
  }

  .highlights-text {
    padding: 16px;
  }

  .highlights-text h2 {
    /* font-size: 1.875em;
    line-height: 40px; */
    margin: 0;
  }

  .hightlights-image img {
    width: 90%;
    height: auto;
  }

  /* Responsive Footer */
  footer {
    margin: 0;
  }

  footer img {
    width: 400px;
  }
}
